.sidey-leftactive{
    left: 0% !important;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.sidey-rightactive{
    right: 0% !important;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.sidey-right{
    position: fixed;
    background-color: white;
    right: -20%;
    width: 20%;
    bottom: 0;
    top: 0;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.sidey-left{
    position: fixed;
    background-color: white;
    left: -20%;
    width: 20%;
    bottom: 0;
    top: 0;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.sidey-content{
    position: relative;
    min-height: 100%;
    overflow: hidden;
    left: 0%;
    width: 100%;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.sidey-leftpush{
    position: fixed;
    overflow: hidden;
    left: 20%;
    width: 100%;
    background:rgba(113,113,113,0.5) !important;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.sidey-rightpush{
    position: fixed;
    overflow: hidden;
    left: -20%;
    width: 100%;
    background:rgba(113,113,113,0.5) !important;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

@media (max-width: 767px) { 
    .sidey-leftpush{
        left: 80%;
    }

    .sidey-rightpush{
        left: -80%;
    }

    .sidey-right{
        right: -80%;
        width: 80%;
    }

    .sidey-left{
        left: -80%;
        width: 80%;
    }
}

@media (max-width: 992px) { 
    .sidey-leftpush{
        left: 50%;
    }

    .sidey-rightpush{
        left: -50%;
    }

    .sidey-right{
        right: -50%;
        width: 50%;
    }

    .sidey-left{
        left: -50%;
        width: 50%;
    }
}